name: Build and Push to ECR

on:
  push:
    branches: [ master ]
    paths:
      - github/workflows/build_deploy_ecs.yaml
      - MCPTestServer.WebApi/**
      - McpTestServer.Core/**
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_ACCOUNT_ID: 102724112763
  REGION: us-east-1
  APP_NAME: mcp-poc-web-api
  ECS_CLUSTER_NAME: mcp-cluster


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/github-ci
        aws-region: ${{ env.REGION }}

    - uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push
      id: build
      run: |
        IMAGE_TAG=${GITHUB_SHA::7}
        IMAGE_URI=$AWS_ACCOUNT_ID.dkr.ecr.$REGION.amazonaws.com/$APP_NAME:$IMAGE_TAG

        docker build -f MCPTestServer.WebApi/Dockerfile -t $IMAGE_URI .
        docker push $IMAGE_URI

        echo "image=$IMAGE_URI" >> $GITHUB_OUTPUT
        
    - name: Render task definition
      id: render
      uses: aws-actions/amazon-ecs-render-task-definition@v1
      with:
        task-definition: .infra/ci/task-definition.json
        container-name: ${{ env.APP_NAME }}
        image: ${{ steps.build.outputs.image }}

    - name: Deploy to ECS
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        cluster: ${{ env.ECS_CLUSTER_NAME }}
        service: ${{ env.APP_NAME }}
        task-definition: ${{ steps.render.outputs.task-definition }}
        wait-for-service-stability: true