name: Update ECR Lifecycle Policies

on:
  push:
    branches: [ master ]
    paths:
      - .deploy/ecr-*.json
      - .github/workflows/update_ecs.yaml

permissions:
  id-token: write
  contents: read

jobs:
  update-ecr-lifecycle:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::102724112763:role/github-ci
        aws-region: us-east-1
        
    - name: Update ECR repositories
      run: |
        aws ecr put-lifecycle-policy \
          --repository-name mcp-test-web-api \
          --lifecycle-policy-text file://.deploy/lifecycle.json
